/* Login and Register page styles */
.alert-warning {
    background-color: rgba(252, 248, 227, 1);
    color: rgba(138, 109, 59, 1);
    margin-bottom: 12px;
    font-size: 16px;
    padding: 12px 16px;
    border-radius: 4px;
}

input {
    border-width: 0px;
}

.login-container,
.register-container {
    width: 350px;
    height: fit-content;
    margin: 100px 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container h2,
.register-container h2 {
    color: #64c97e;
    margin-bottom: 20px;
}

.login-container form,
.register-container form {
    display: flex;
    flex-direction: column;
}

.login-container label,
.register-container label,
.login-container input,
.register-container input {
    margin-bottom: 10px;
}

.login-container input,
.register-container input {
    padding: 8px;
}

.login-container button,
.register-container button {
    background-color: #64c97e;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-container button:hover,
.register-container button:hover {
    background-color: #5ab272;
}

.login-container .message,
.register-container .message {
    margin-top: 20px;
    text-align: center;
}

.login-container .message a,
.register-container .message a {
    color: #64c97e;
    text-decoration: none;
}

.container-wrapper {
    display: flex;
    justify-content: center;
}

.form-group {
    display: flex;
    align-items: baseline;
}

.form-group input {
    margin-right: 8px;
}

.form-group a {
    margin-left: 4px; /* Add some space between the checkbox and the link */
}

/* Divider line styles */
.divider {
    border: 0;
    height: 1px;
    background: #ccc; /* Adjust divider color as needed */
    margin: 10px 0; /* Adjust margin as needed */
}

/* Continue as Guest styles */
.continue-as-guest {
    text-align: center;
    margin-top: 10px; /* Adjust margin as needed */
}

.continue-as-guest h3 {
    font-size: 16px; /* Adjust title font size as needed */
    margin-bottom: 5px;
    color: #333; /* Adjust title color as needed */
}

.continue-as-guest p {
    font-size: 14px; /* Adjust description font size as needed */
    color: #777; /* Adjust description color as needed */
    margin-bottom: 10px;
}

.guest-link {
    display: inline-block;
    padding: 6px 10px; /* Adjust padding to make the button smaller */
    font-size: 12px; /* Adjust font size to make the text smaller */
    border: 2px solid #64c97e; /* Adjust border color as needed */
    color: #64c97e; /* Adjust text color as needed */
    text-decoration: none;
    border-radius: 5px;
    transition: color 0.3s ease, border-color 0.3s ease;
}

.guest-link:hover {
    color: #4fae6d; /* Adjust hover text color as needed */
    border-color: #4fae6d; /* Adjust hover border color as needed */
}

@media (prefers-color-scheme: dark) {
    .login-container,
    .register-container {
        background-color: #222;
    }
    input {
        background-color: #333;
        color: white;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #333 inset !important;
        color: white;
    }
    .continue-as-guest h3 {
        color: #fff; /* Dark text color */
    }
    .continue-as-guest p {
        color: #ccc; /* Light text color for description */
    }
    .guest-link {
        border-color: #64c97e; /* Button border color */
        color: #64c97e; /* Button text color */
    }
    .guest-link:hover {
        color: #4fae6d; /* Hover text color */
        border-color: #4fae6d; /* Hover border color */
    }
}

@media only screen and (max-width: 600px) {
    .container-wrapper {
        flex-direction: column; /* Display containers in a column */
    }

    .login-container,
    .register-container {
        margin: 20px auto; /* Adjust the margin for mobile devices */
    }

    .register-container {
        margin-top: 100px;
    }
}
